# PyCharm
.idea/*

# Python
__pycache__/*
venv/*

# Lint
.pylintrc
ruff.toml

# Local copies of JSON files
queue.json
banlist.json
pending.json
rejected.json
sugg_stats.json

# Config file
config.py

# Logs
logs/*